<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href=" materialize/css/materialize.min.css" media="screen,projection" />
	<link rel="stylesheet" href="est.css">

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head>
<title>EventosApp_Media3</title>
</head>
<body>
<div class="container">
esse
  <img src="Imagens/senai.png" alt="">
</div>
	<div class="container">
		<h1 class="base">Cadastro de Produtos:</h1>


		<a href="/cadastrarEvento" class="waves-effect waves-light btn"><i
			class="material-icons right">add_circle_outline</i>Cadastrar Produtos</a>
	<table>
	<thead>
		<tr>
			<th>Produto</th>
			<th>Cor</th>
			<th>Lote</th>
			<th>Fabricacao</th>
			<th>Deletar</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="evento:${eventos}">
		<td><a th:href="${(#mvc.url('EC#detalhesEvento').arg(0,evento.codigo)).build()}"><span th:text="${evento.produto}"></span></a></td>
		<td><span th:text="${evento.cor}"> </span></td>
		<td><span th:text="${evento.lote}"> </span></td>
		<td><span th:text="${evento.fabricacao}"> </span></td>
		<td><a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('EC#deletarEvento').arg(0,evento.codigo)).build()}"><i class="material-icons right">delete</i>Deletar</a></td>
		</tr>
		</tbody>
	</table>
	</div>







	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript"
		src=" https://code/jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src=" materialize/js/materialize.min.js"></script>

</body>
</html> 

